// search
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;

    transition: all 0.3s;

    margin-right: -3.25rem;
    @media only screen and (max-width: $bp-smallest) {
      margin: 0;
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-3);
  }

  &__association-box {
    background-color: #fff;
    position: absolute;
    top: 100%;
    width: 90%;
    margin: 0 2rem;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
    z-index: 200;
  }

  &__input:focus ~ &__association-box {
    height: 20rem;
    opacity: 1;
  }

  &__association {
    list-style: none;
    padding: 2rem;
  }

  &__search-association-item {
  }
}
